.mpHero {
  height: auto;
  width: 100%;
  background-color: #da203d;
  color: #fff;
  background-image: url("../images/mpHero.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); }
  .mpHero a {
    color: #fff;
    text-decoration: underline; }

.mpSiteTilte {
  font-size: 4rem;
  font-weight: 700;
  line-height: 80%; }

.mpHomeCols {
  display: flex;
  flex-direction: column; }
  .mpHomeCols > * {
    padding: 1.5rem; }

.mpHomeCol1 {
  display: flex;
  flex-direction: column;
  background-color: #edcfe0;
  margin-top: -3rem; }

.mpHomeCol2 {
  display: flex;
  flex-direction: column; }

@media (min-width: 800px) {
  .mpHero {
    min-height: 85vh; }
  .mpSiteTilte {
    font-size: 8rem;
    font-weight: 700;
    line-height: 90%; }
  .mpHomeCols {
    flex-direction: row;
    width: 100%; }
    .mpHomeCols > * {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .mpHomeCols > * h2, .mpHomeCols > * p {
        max-width: 400px;
        width: 100%; } }
