<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Meertens Panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/meertenspanel.css">
</head>

<body>

  <div class="mpFrame">
    <!-- sidebar and navigatition -->
    <div class="mpSidebar">
      <div class="mpBrand">
        <img src="images/logo-meertensPanel.png" alt="" class="mpLogo">
      </div>
    
      <nav class="mpNav">
        <a href="">Home</a>
        <a href="">Meertens Panel</a>
        <a href="">Aanmelden</a>
        <a href="">Privacy</a>
        <a href="">Over het Meertens Panel</a>
      </nav>
    
      <!-- if logged in -->
      <nav class="mpLogedInMenu">
        <div class="mpLoginInfo">U bent ingelogd als Bas Doppen</div>
        <a href="">Gegevens bekijken</a>
        <a href="">Gegevens wijzigen</a>
        <a href="">Wachtwoord wijzigen</a>
        <a href="">Uitloggen</a>
      </nav>
    
      <!-- if not logged in -->
      <div class="mpLogin">
        Wilt u uw gegevens aanpassen? Log dan hier in.<br> 
        <button type="button" onclick="window.location.href='https://www.meertens.knaw.nl/meertenspanel-dev/mp/inloggen'">Login (dev)</button>
      </div>
    </div>

    <div class="mpContent">
      <div class="mpTextWrap">
        <h1>Het Meertens Panel</h1>
        <p>Het Meertens Instituut doet onderzoek naar de verscheidenheid van taal en cultuur in het Nederlandse taalgebied. Hiervoor maken wij onder andere gebruik van een vaste groep respondenten die ons informeren over hun gewoontes en hun
          taalgebruik. Voor dit panel zijn wij altijd op zoek naar nieuwe leden.</p>
      
        <h2>Wie, wat en hoe?</h2>
        <p>We zijn op zoek naar mensen van zestien jaar en ouder die in het Nederlandse taalgebied wonen. Daarbij is iedereen welkom. Nadat u zich hebt ingeschreven, ontvangt u een paar keer per jaar een uitnodiging om mee te doen aan onderzoek.
          Uiteraard bent u helemaal vrij om wel of niet op deze uitnodiging te reageren.</p>
      
        <h2>Meehelpen</h2>
        <p>Uw antwoorden worden uitsluitend gebruikt voor wetenschappelijk onderzoek. Wij verkopen niets en wij zenden u geen ongewenste post. Uw persoonlijke gegevens worden ook nooit doorgegeven aan anderen. Ook binnen ons instituut gaan wij
          uitermate zorgvuldig met uw gegevens om. Uw privacy is namelijk zeer belangrijk voor ons.</p>
      
        <h2>Spaarpunten</h2>
        <p>Als blijk van waardering voor uw medewerking ontvangt u voor het invullen van elke enquête een of meer spaarpunten. Als u acht punten heeft gespaard, dan worden deze automatisch omgezet in een cadeaubon van tien euro die u kunt besteden
          bij Bol.com, de grootste internetwinkel voor Nederland en Vlaanderen. Meld u nu aan!</p>
      <div>

    </div>

  </div>
    <!-- </div>
  </div> -->

<div class="links">
  <a href="index.html">home</a>
  <a href="volg.html">volg</a>
  <a href="form.html">form</a>
  <a href="login.html">login</a>
  <a href="gegevens.html">gegevens</a>
</div>


  
</body>
</html>
